body {
    font-family: sans-serif;
}

a {
    color: #F8E71C;
}

h1, h2, h3, h4 {
    color: #01AFD1;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown-button {
    background-color: #ffffff;
    color: #01AFD1;
    padding: 16px;
    border: none;
}

.dropdown-menu {
    position: relative;
    display: inline-block;
}

.dropdown-menu:hover .dropdown-content {
    display: block;
    background-color: #efefef;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 #bfbfbf;
    text-align: center;
}

.gotoKitchen {
    color: red;
    fill: red;
}
