﻿body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-1px;
  width:1290px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:0px;
  width:1280px;
  height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:7px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:21px;
  top:778px;
  width:169px;
  height:100px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:100px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:30px;
  width:1280px;
  height:310px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:310px;
}
#u5 {
  position:absolute;
  left:2px;
  top:147px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:340px;
  width:1280px;
  height:100px;
  color:#F8E71C;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:100px;
}
#u7 {
  position:absolute;
  left:2px;
  top:42px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:131px;
  top:375px;
  width:50px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:10px;
  top:0px;
  width:61px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:120px;
  top:349px;
  width:71px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:1153px;
  top:376px;
  width:37px;
  height:36px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#01AFD1;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:231px;
  top:349px;
  width:43px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:329px;
  top:349px;
  width:52px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:441px;
  top:349px;
  width:30px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:527px;
  top:349px;
  width:54px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:634px;
  top:349px;
  width:34px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:716px;
  top:349px;
  width:75px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:923px;
  top:380px;
  width:147px;
  height:37px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:37px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:1220px;
  top:374px;
  width:37px;
  height:36px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#01AFD1;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:234px;
  top:382px;
  width:40px;
  height:36px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:539px;
  top:380px;
  width:29px;
  height:36px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:36px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:330px;
  top:375px;
  width:50px;
  height:50px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u37 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:431px;
  top:375px;
  width:50px;
  height:50px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u39 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:626px;
  top:374px;
  width:50px;
  height:50px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u41 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:729px;
  top:374px;
  width:50px;
  height:50px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u43 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:423px;
  top:387px;
  width:20px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:811px;
  top:440px;
  width:480px;
  height:430px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:430px;
}
#u47 {
  position:absolute;
  left:2px;
  top:207px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:1047px;
  top:650px;
  width:34px;
  height:36px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#01AFD1;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:36px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:1036px;
  top:554px;
  width:34px;
  height:36px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:36px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:1097px;
  top:810px;
  width:34px;
  height:36px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:36px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:21px;
  top:450px;
  width:253px;
  height:37px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:37px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:21px;
  top:502px;
  width:187px;
  height:28px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:28px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:21px;
  top:530px;
  width:24px;
  height:36px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#01AFD1;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:36px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:60px;
  top:540px;
  width:154px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:21px;
  top:624px;
  width:22px;
  height:36px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:36px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:53px;
  top:621px;
  width:75px;
  height:39px;
  color:#01AFD1;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:39px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:138px;
  top:628px;
  width:55px;
  height:28px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:28px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:17px;
  top:720px;
  width:204px;
  height:28px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:28px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:314px;
  top:462px;
  width:476px;
  height:140px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:140px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:318px;
  top:620px;
  width:261px;
  height:80px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:80px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:40px;
  top:810px;
  width:120px;
  height:37px;
  color:#01AFD1;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:1px;
  top:890px;
  width:420px;
  height:350px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:350px;
}
#u77 {
  position:absolute;
  left:2px;
  top:167px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:431px;
  top:890px;
  width:420px;
  height:350px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:350px;
}
#u79 {
  position:absolute;
  left:2px;
  top:167px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:861px;
  top:890px;
  width:430px;
  height:350px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:350px;
}
#u81 {
  position:absolute;
  left:2px;
  top:167px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:327px;
  top:530px;
  width:710px;
  height:710px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:710px;
}
#u83 {
  position:absolute;
  left:2px;
  top:347px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
